[Unit]
Description=EAP Proxy written in Golang
Before=network-pre.target
After=sys-subsystem-net-devices-eth2.device sys-subsystem-net-devices-eth3.device
BindTo=sys-subsystem-net-devices-eth2.device sys-subsystem-net-devices-eth3.device
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/goeap_proxy -if-router eth3 -if-wan eth2
Restart=always

[Install]
WantedBy=multi-user.target
