[Unit]
Description=EAP Proxy written in Golang
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
#Environment="IFNAME1=eth3"
#Environment="IFNAME2=eth4"
ExecStart=/usr/bin/goeap_proxy $IFNAME1 $IFNAME2
Restart=always

[Install]
WantedBy=multi-user.target
